.layout-login
    width: 360px
    height: 510px
    text-align: center
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    // background: url('login_bg.jpg') no-repeat;
    background: linear-gradient(to right bottom, #29acde, #f67d2e, #902282);
    .carrot
        position: absolute
        top: 120px
        left: 50%
        margin-left: -60px
        z-index: 10
        display: block
        width: 120px
        height: 120px
        background: white;
        border-radius: 50%;
    .login-con1
        padding-top:320px;
        .ipt-con
            margin 0 auto 20px
            width: 80%
        button 
            display:block
            margin: 10px auto           
            width :80%
    .login-con2
        .ipt-con
            margin 0 auto 20px
            width: 80%
        button 
            display:block
            margin: 10px auto           
            width :80%
    .ant-input-affix-wrapper-lg 
        padding: 5px 7px 5px 15px;
        border-radius: 20px;
    .importBlock 
        width: 30px;
        height: 30px;
        border-radius: 50%
        background: linear-gradient(to right bottom, #29acde, #f67d2e, #902282);
        display: flex;
        justify-content: center;
        align-items: center;
    .loginButton 
        border-radius: 20px;
