.friendList
  height: 234px;
  overflow: hidden;
  overflow-y: scroll;
  .item
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
      .item-left
          display: flex;
          align-items: center;
          justify-content: flex-start;
      .item-icon
          width: 60px;
          height: 60px;
          background: #FFFFFF;
          border-radius: 50%;
          margin-right: 10px;
      .item-info
          text-align: left;
          .address
              display: flex;
              align-items: center;
      .message
          margin-right: 10px;

.ant-popconfirm
    width:300px;

.ant-input-affix-wrapper-lg 
    padding: 5px 7px 5px 15px;
    border-radius: 20px;
.importBlock 
    width: 30px;
    height: 30px;
    border-radius: 50%
    background: linear-gradient(to right bottom, #29acde, #f67d2e, #902282);
    display: flex;
    justify-content: center;
    align-items: center;
          